@import "./common";
@import "./header";
*,
html {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px/20px "Inter", sans-serif;
  color: #231f20;
  margin: 0;
  padding: 0;
  background: #E2F2FD;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 10px;
  font-weight: 700;
}
h1,
.text-wrap{
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
h2{
  font-size: 30px;
 
}
h3{
  font-size: 18px;
}
h4{
  font-size: 20px;
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  textarea {
    resize: vertical;
    vertical-align: top;
  }

  button,
  input[type='button'],
  input[type='reset'],
  input[type='file'],
  input[type='submit'] {
    cursor: pointer;
  }

  form,
  fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }
.btn{
  display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid transparent;
    outline: none;
    box-shadow: none;
    min-width: 120px;
    width: 100%;
    color: #fff;
    &.primary{
      background-color: rgb(24, 88, 200);
    }
    &.secondary{
      background-color: #6C757D;
    }
}